* {
   box-sizing: border-box;
   padding: 0;
   margin: 0%;
}
html,
body {
   height: 100%;
   width: 100%;
   font-family: "Roboto", sans-serif;
   color: #fff;
}

img {
   max-width: 100%;
}

.main {
   width: 100%;
   height: 100%;
   display: flex;
   background: #242e42;
}

.left {
   height: 100%;
   flex: 0 1 62%;
   background-image: url(assets/img/Bitmap.png);
   padding: 56px 0 56px 53px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.right {
   flex: 0 0 38%;
   padding: 120px 100px 50px 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.logo {
   height: 36px;
   width: 160px;
}

.text {
   font-size: 50px;
   font-weight: 300;
   line-height: 60px;
}

.text::before {
   content: "";
   width: 39px;
   height: 39px;
   background: url(assets/img/part_logo.png);
   transform: rotate(37deg);
}

.video {
   display: flex;
   align-items: center;
}

.video__link {
   color: #1f8efa;
   font-size: 12px;
   text-decoration: none;
   margin-left: 15px;
}

.logo__S {
   width: 46.7px;
   height: 84.66px;
   margin-bottom: 60px;
}

.title {
   height: 36px;
   color: #fff;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 30px;
   line-height: 36px;
}
